.md .color-theme-green-custom .navbar, .md .color-theme-green-custom.navbar {
    background: #007b3e;
}
/**
 * css cho trang lodding
 */
.w-h-100{
    width: 100%;
    height: 100%;
}
.w62{
    width: 72px;
}
.d-inline-flex-fl{
    display: inline-flex;
    float: left;
}
.bt-edit-remove{
    background-color: #007b3e;
    margin-left: 10px;
    padding: 5px 0px;
    color: #fff;
    font-size: 10px;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.text-center{
    text-align: center;
}
.d-none{
    display: none;
}
.md .block-strong:after, .md .block-strong:before{
    height: 0px;
}
.button.button-fill{
    background-color: #00773d !important;
    text-transform: none;
}
/**
 * css cho trang login buyer
 */
.md .item-input-wrap{
    display: inline-flex;
    align-items: center;
}
.style-input{
    border: 1px solid #00773d !important;
    height: 45px !important;
    margin-left: 10px !important;;
    padding-left: 15px !important;;
}
.md .item-input-wrap:after{
    height: 0px;
}
.style_lable{
    padding-left: 90px;
    font-size: 16px !important;
    color: #000 !important;
    display: table-caption;
}
.login-screen-title{
    color: #fff;
}
.text-left{
    text-align: left;
}
.style-tag-a{
    background-color: #00773d;
    color: #fff !important;
    padding: 8px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.login-screen-title {
    border-bottom: 1px solid #00773d;
    padding-bottom: 4px;
}
/**
 * css cho trang sign buyer
 */

.style_lable_sign{
    font-size: 16px !important;
    color: #000 !important;
    height: 45px;
    line-height: 45px !important;
}
.mg-r-15{
    margin-right: 15px !important;
}
.mg-b-20{
    margin-bottom: 15px;
}
.md .navbar {
    height: 68px;
}
.md .navbar~* .page-content, .md .navbar~.page-content {
    padding-top: 68px;
}
.md .navbar a.link {
    height: 68px;
    line-height: 68px;
}
.md .navbar .title {
    height: 68px;
    line-height: 68px;
}
.fix-center-img{
    height: 68px;
    display: inline-flex;
    align-items: center;
}
.md .color-theme-green-custom .toolbar:not(.messagebar), .md .color-theme-green-custom.toolbar:not(.messagebar) {
    background: #007b3e;
}
/**
 * css cho trang main search
 */
.pd-t-35{
    padding-top: 35px;
}
.searchbar-icon{
    border-right: 2px solid #007b3e;
}

.page-content{
    overflow-x: hidden;
}
.mg-tb-30{
    position: relative;
    background: rgba(0,159,72,1);
    background: -moz-linear-gradient(top, rgba(0,159,72,1) 0%, rgba(0,112,57,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,159,72,1)), color-stop(100%, rgba(0,112,57,1)));
    background: -webkit-linear-gradient(top, rgba(0,159,72,1) 0%, rgba(0,112,57,1) 100%);
    background: -o-linear-gradient(top, rgba(0,159,72,1) 0%, rgba(0,112,57,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,159,72,1) 0%, rgba(0,112,57,1) 100%);
    background: linear-gradient(to bottom, rgba(0,159,72,1) 0%, rgba(0,112,57,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009f48', endColorstr='#007039', GradientType=0 );
}
.demo-card-header-pic .card-header {
    /*background-color: #007b3e;*/
    display: inline-flex;
    align-items: center;
    height: 20vw !important;
}
.mg-tb-30{
    margin-bottom: 30px;
    margin-top: 30px;
}
.col-fff{
    color: #fff;
}
.tabbar-label {
    display: block;
}
.card-header img{
    margin: 0 auto;
}
.card .tabbar-label{
    padding: 8px 0px;
    min-height: 21px;
    background-color: transparent;
}
/**
 * css cho trang Product List
 */
.sp-screen-title{
    border-bottom: 1px solid #00773d;
    padding-bottom: 6px;
    margin-top: 20px;
}
.pd-l-30{
    padding-left: 30px;
    text-align: right;
}
.pd-r-30{
    padding-right: 30px;
    text-align: left;
}
.style-sp p{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}

.mg-b-15{
    margin-bottom: 15px;
}
.bt-select{
    background-color: red;
    color: #fff !important;
    text-transform: none !important;
}
.pd-15{
    padding: 0 15px;
}
.text-left{
    text-align: left;
}
.fix-w-auto{
    width: 100%;
}
.star_rating{
    margin-left: 10px;
}
.star_rating img{
    width: 18px;
}
.position-re{
    position: relative;
}
.position-ab{
    position: absolute;
}
.style-ab{
    top: 15px;
    right: 15px;
}
.pd-t-15{
    padding-top: 15px;
}
.stepper-input-wrap{
    height: 28px;
}
.pd-l-r-10{
    padding: 0 10px;
}
.style-bg-border{
    border: 1px solid #007b3e;
    min-height: 105px;
    align-items: center;
    display: grid;
   /* background: rgba(253,253,253,1);
    background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(190,237,211,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(190,237,211,1)));
    background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(190,237,211,1) 100%);
    background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(190,237,211,1) 100%);
    background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(190,237,211,1) 100%);
    background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(190,237,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#beedd3', GradientType=0 );*/
}
.bg-fff{
    background-color: #fff !important;
}
.color-222{
    color: #222 !important;
}
.tab-link-highlight{
    background: transparent !important;
}
@media all and (max-width: 768px){
    .md .login-screen-title {
        font-size: 25px;
    }
    .col-3-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
@media all and (max-width: 576px){
    .md .login-screen-title {
        font-size: 20px;
    }
    .col-4-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .demo-card-header-pic .card-header {
        height: 25vw !important;
    }
}
@media all and (max-width: 480px){
    .md .login-screen-title {
        font-size: 16px;
    }
}
@media all and (max-width: 425px){
    .md .login-screen-title {
        font-size: 16px;
    }
    .fix-w-col{
        width: 100% !important;
    }
    .fix-w-auto{
        width: 60%;
    }
    .style-sp{
        width: 70% !important;
    }
}
@media all and (max-width: 384px){
    .w-100-384{
        width: 100%;
    }
}